.top-links {
  text-align: center;
  padding: 16px 0 0;

  a {
    text-decoration: none;
    color: $white;
    margin-left: 32px;
    border: 1px solid $grey-1;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    background-color: $primary;
    margin: 0;

    &:hover{
      text-decoration: underline;
    }

    &.active {
      color: $font-color;
      cursor: default;
      background-color: $grey-1;
      text-decoration: none;
    }
  }
}

.c-dashboard {
  margin: 8px 16px;

  .c-dashboard__header {
    display: flex;
    justify-content: center;
  }

  .c-dashboard__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-filters__container {
  margin: 0 0 8px;
  padding: 16px 8px;
  border: 1px solid $secondary;
  background-color: $grey-1;
  text-align: center;
  .form-holder{
    .search-bar{
      border: none;
      padding: 6px 12px;
    }
    .clear-btn{
      background-color: $blue-1;
      border: none;
      outline: none;
      color: $white;
      padding: 6px 12px;
      border-radius: 5px;
      transition: all .2;
      &:hover{
        background-color: $blue-2;
      }
    }
  }
}

.c-chart__container {
  height: 350px;
  width: 760px;
}

.c-button {
  height: 40px;
  background-color: $primary;
  color: $white;
  min-width: 120px;
  padding: 0 16px;
  border-radius: 4px;
}
