.c-users-list {
  display: table;
  width: 100%;
  margin-bottom: 24px;
  font-size: 14px;

  .c-users-list__header {
    display: table-row;
    font-size: 16px;
    font-weight: 500;
    background-color: $blue-1;
    color: $white;

    > div {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      font-size: 14px;
      padding: 10px 10px;
      font-weight: bold;
      border: 1px solid $secondary;
    }
    div:nth-of-type(5){
      white-space: nowrap;
    }
  }

  .c-users-list__body {
    display: table-row;
    height: 64px;

    > div {
      display: table-cell;
      // padding: 0 8px;
      vertical-align: middle;
      border: 1px solid $secondary;
      padding: 0 10px;
    }
    .ng-binding:nth-of-type(4){
      white-space: nowrap;
    }
    .ng-binding:nth-of-type(5){
      text-align: center;
    }
    &:nth-of-type(odd){
      background-color: rgb(249, 249, 249);
    }
  }

  .c-users-list__avatar {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
  }

  .c-users-list__main-info {
    display: flex;
    align-items: center;
  }
}
